*{font-family: 'Helvetica', sans-serif;}

body {
    margin: 61px 125px;
    max-width: 1200px;
    margin: auto;
    background-color: #000000;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .logo{
  max-width: 250px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 25px 100px;
    background-color: black;
  }
  
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  header ul li{
    position: relative;
    list-style: none;
  
  }
  
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  

.highlight-red {
    color: #ff0000;
}

.introduction {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 144px;
    margin-top: 100px;
}

.intro {
    max-width: 635px;
    min-height: 251px;
}

.intro-title {
    font-size: 22px;
    font-weight: 700;
}

.intro-text {
    font-size: 40px;
    font-weight: 700;
}

.intro-quote {
    align-self: flex-end;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    opacity: 0.6;
}
.quote-span {
    text-decoration: overline;
}


.grid-container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-cont {
    display: grid;
    height: 100%;
    grid-gap: 1rem;
}

.box1 {
    grid-template-rows: 1.3fr 1.5fr 1.5fr 1.5fr;
  }

.box2 {
    grid-template-rows: 1fr 1.3fr 1.5fr 1.7fr;
  }

.box3 {
    grid-template-rows: 2fr 1.3fr 1.5fr 1.2fr;
  }


.quote {
    display: flex;
    justify-content: flex-end;
    color: #979797;
}

.large-p {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    max-width: 60%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}


.right-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.end {
    justify-self: end;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #979797;
}

.lg-text {
    font-size: 22px;
}


ul {
    color: #979797;
    font-size: 18px;
    list-style: none;
}

li {
    margin-bottom: 8px;
}

hr {
    background-color: #979797;
    width: 83vw;
    height: 2px;
    opacity: 0.5;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 72%;
    margin: auto;
    
}

p {
    font-size: 10px;
}